.chatContainer {
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
  width: 100%;
  height: 100%;
  row-gap: 20px;
  .topBar {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    .backButton {
      display: flex;
      justify-self: center;
      align-content: center;
      border-radius: 10px;
      background-color: var(--gray-f1);
      padding: 0.6rem 0.7rem;
      cursor: pointer;
    }
    .backButton:hover {
      background-color: var(--gray-d1);
    }
    .avatar {
      position: relative;
      img {
        border-radius: 50%;
      }
      ::after {
        content: "";
        position: absolute;
        width: 0.9rem;
        height: 0.9rem;
        border-radius: 50%;
        bottom: 0.2rem;
        left: 0;
        border: 2px solid var(--gray-f1);
        background-color: var(--primary);
      }
    }
  }

  .convoContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    row-gap: 1rem;
    overflow: scroll;
    flex: 1;
    .selfMessage {
      overflow-wrap: anywhere;
      white-space: pre-line;
      width: fit-content;
      align-self: flex-end;
      row-gap: 0.4rem;
      display: flex;
      flex-direction: column;
      p {
        background-color: var(--primary);
        padding: 0.7rem 1.3rem;
        border-radius: 20px 0 20px 20px;
        color: white;
        font-weight: 300;
      }
      span {
        align-self: flex-end;
        color: var(--gray-a1);
        font-size: 0.9rem;
      }
    }

    .othersMessage {
      overflow-wrap: anywhere;
      white-space: pre-line;
      width: fit-content;
      align-self: flex-start;
      row-gap: 0.4rem;
      display: flex;
      flex-direction: column;
      p {
        background-color: var(--secondary);
        word-wrap: anywhere;
        padding: 0.7rem 1.3rem;
        border-radius: 0 20px 20px 20px;
        color: white;
        font-weight: 300;
      }
      span {
        align-self: flex-start;
        color: var(--gray-a1);
        font-size: 0.9rem;
      }
    }

    @keyframes isTypingBounce {
      from {
        transform: translateY(-35%);
      }
      to {
        transform: translateY(35%);
      }
    }

    .isTyping {
      background-color: var(--gray-d1);
      display: flex;
      column-gap: 0.4rem;
      border-radius: 0 20px 20px 20px;
      width: fit-content;
      padding: 1rem;
      justify-content: center;
      align-items: center;

      :nth-child(2) {
        animation-delay: 0.2s;
      }

      :nth-child(3) {
        animation-delay: 0.3s;
      }

      span {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: var(--secondary);
        animation-name: isTypingBounce;
        animation-duration: 0.5s;
        animation-direction: alternate;
        animation-iteration-count: infinite;
      }
    }
  }

  .inputContainer {
    display: flex;
    align-items: center;
    width: 100%;
    .input {
      flex: 1;
      border: none;
      padding: 0.4rem 1rem 0 1rem;
      border-radius: 20px;
      font-size: 0.95rem;
      resize: none;
      background-color: var(--primary-chatInput);
      margin-right: 0.5rem;
      ::placeholder {
        color: var(--gray-c1);
      }
    }
    .input:focus {
      outline: none;
    }
    i {
      cursor: pointer;
      display: flex;
      color: white;
      background-color: var(--primary);
      font-size: 2rem;
      padding: 0.3rem;
      border-radius: 50%;
    }
    i:hover {
      background-color: var(--primary-hover);
    }
  }
}
